{#
/**
 * @file bookmark.html.twig
 * Default theme implementation to present Bookmark data.
 *
 * This template is used when viewing Bookmark pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bookmark()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bookmark') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
